html {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.main-container {
  max-width: 960px;
  margin: 0 auto;
}
/*.header {
  background: url(../img/back-desktop.png) no-repeat center 100%;
  height: 357px;
  position: relative;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__nav .header__nav-link {
  text-align: center;
  width: 19.87%;
  max-height: 56px;
  color: #000000;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 4em;
  text-transform: uppercase;
  background-image: url(../img/background-link.png);
}
.header__nav .tablet-logo-img {
  display: none;
}
.header__name {
  position: absolute;
  top: 44%;
  left: 30.8%;
  right: none;
}
.header__decoration {
  position: absolute;
  bottom: -0.2%;
  max-height: 57px;
}
.main-container {
  max-width: 960px;
  margin: 0 auto;
}
.review {
  display: flex;
  justify-content: center;
}
.review__block {
  margin-top: 9%;
  width: 46%;
  display: block;
  text-align: center;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.review__headline {
  display: block;
  width: 73.5%;
  margin: 5.5% auto 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 2.39em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.review__podcast {
  display: block;
  margin-top: 1.5%;
  font-family: "PT Sans", sans-serif;
  font-size: 1.11em;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.review-info {
  width: 100%;
  margin-top: 4.4%;
  display: flex;
  justify-content: none;
}
.review-info__feeling {
  width: 50%;
}
.review-info__label {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
  margin: 0 0 10% 21%;
  display: block;
}
.review-info__headline {
  display: block;
  margin: 0 0 11.5% 16.5%;
  width: 58%;
  color: #000000;
  letter-spacing: 0.01em;
  font-family: "PT Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio + .review-info__label {
  position: relative;
  cursor: pointer;
  right: 4.5%;
  margin-bottom: 11%;
}
.radio + .review-info__label:before {
  content: '';
  position: absolute;
  top: -50%;
  left: none;
  right: 105%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #f2f2f2;
}
.radio + .review-info__label:after {
  content: '';
  position: absolute;
  top: 18%;
  left: none;
  right: 109.8%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  opacity: 0;
}
.radio:checked + .review-info__label:after {
  opacity: 1;
}
.review-user {
  width: 50%;
}
.review-user #name {
  width: 65.6%;
}
.review-user__label {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.87em;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 2.5% 7% 16.5%;
}
.review-user__headline {
  width: 33%;
  margin: 0 16.3% 12%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.37em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
}
.review-user__input {
  width: 58.8%;
  height: 16.6%;
  margin-bottom: 4.3%;
  background-color: #f2f2f2;
  border: none;
  padding-left: 7%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}
#surname {
  margin-left: -1%;
}
.container {
  margin-top: 3.1%;
  background: url(../img/Layer_27_copy_3.png) no-repeat center 51.55%;
}
.container__headline {
  display: block;
  margin: 0 auto;
  width: 30%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.33em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
.user-contacts-container {
  width: 100%;
  margin-bottom: 3.5%;
  display: flex;
  justify-content: none;
}
.user-contacts__number,
.user-contacts__email {
  width: 50%;
  display: flex;
  justify-content: none;
  margin-top: 5.3%;
}
.users__label {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.87em;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
  margin: 8.6% 3.5% 7% 0;
}
.user-contacts__tel {
  width: 49.5%;
  max-height: 56px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 4.6%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
  margin-top: 5%;
}
.user-contacts__tel::-webkit-input-placeholder {
  color: #000000;
}
.user-contacts__img {
  width: 12.05%;
  max-height: 56px;
  display: inline-block;
  position: relative;
  margin-top: 5%;
}
.img-phone {
  position: absolute;
  top: 37%;
  left: 33%;
  right: none;
}
#email-img {
  position: absolute;
  top: 40%;
  left: 37%;
  right: none;
}
.visit-checkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4.5% 0 7%;
}
.visit-checkbox .devil {
  margin-right: 2.8%;
}
.visit-checkbox .bell {
  margin-right: 2.5%;
}
.label-checkbox {
  width: 21.7%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}
.checkbox {
  display: none;
}
.checkbox + .label-checkbox {
  cursor: pointer;
}
.checkbox:checked + .label-checkbox:before {
  background: url(../img/tick.png) no-repeat center 52.5%;
  background-color: #e6e6e6;
}
.label-checkbox:before {
  content: " ";
  display: inline-block;
  margin-right: 13%;
  width: 56px;
  height: 55px;
  background: #e6e6e6;
  border: none;
  border-radius: 6%;
  vertical-align: middle;
}
.textarea {
  width: 98%;
  background-color: #f2f2f2;
  border: none;
  padding: 1.5% 0 0 2.2%;
  margin: 6% 0 5.5%;
  resize: none;
  color: #000000;
  max-height: 145px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.01em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}
.textarea::-webkit-input-placeholder {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}
.submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.submit__text {
  margin-top: 2%;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.push {
  width: 50%;
  height: 58px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 1.31em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}
.push:hover {
  cursor: pointer;
}
.footer-block {
  height: 80px;
  max-width: 960px;
  margin: 7% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2%;
}
.hashtag {
  max-height: 18px;
  margin: 0 0 0.5% 1.3%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.31em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.social-networks {
  margin-top: 0.4%;
  max-height: 48px;
  width: 19%;
  display: flex;
}
.social-networks__link {
  position: relative;
  margin: 0 2% 0;
  width: 46px;
  height: 46px;
  background: url(../img/Layer_52_copy.png);
}
.social-networks__img {
  position: absolute;
  top: 36%;
  left: 30%;
  right: none;
}
#facebook {
  top: 33%;
  left: 41%;
}
.producer {
  width: 13.3%;
  margin-top: 0.7%;
  vertical-align: middle;
  display: flex;
  justify-content: none;
  max-height: 34px;
}
.producer__text {
  display: block;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 10%;
}
*/