html{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

header{
    background: url(../img/back-desktop.jpg.png)no-repeat center 99% / 99.5%;
    height: 357px;
    position: relative;
}

.header__nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    
}

.header__nav-link{
    text-align: center;
    width: 19.87%;
    max-height: 56px;
    text-decoration: none;
    font-size: 0.875em;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    line-height: 4em;
    background-image: url(../img/background-link.png);
}

.header__name{
    position: absolute;
    top: 44%;
    left: 31%;
}

.header__decoration{
    position: absolute;
    bottom: -0.2%;
    max-height: 57px;
}

main{
    max-width: 960px; 
    margin: 0 auto;
}

.review{
    display: flex;
    justify-content: center;
}

.review__block{
    margin-top: 12%;
    width: 41.5%;
    display: block;
    text-align: center;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
}

.review__headline{
    display: block;
    width: 65%;
    margin: 2% auto 0;
    color: #000000;
    font-family: "PT Sans",sans-serif;
    font-size: 1.9em;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.review-info{
    width: 100%;
    margin-top: 5%;
    display: flex;
}

.review-info__feeling{
    width: 50%;
}

.review-info__feeling>label{
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 10% 21%;
    display: block;

}

.review-info__headline{
    display: block;
    margin: 0 auto 10%;
    width: 57%;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .radio + label {
    position: relative;
    cursor: pointer;
  }

  .radio + label:before {
    content: '';
    position: absolute;
    top: -40%;
    right: 108%;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #f2f2f2;
  }

  .radio + label:after {
    content: '';
    position: absolute;
    top: 17%;
    right: 112%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000000;
    opacity: 0;
  }

  .radio:checked + label:after {
    opacity: 1;
  }
 
.review-user{
    width: 50%;
}

.review-user__headline{
    width: 33%;
    margin: 0 20% 10%;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
}

.review-user>label{
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 0.87em;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 2% 7% 20%;
}

.review-user__input{
    width: 57%;
    height: 19%;
    background-color: #f2f2f2;
    border: none;
    padding-left: 5%;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 26px;
}

#surname{
    margin-left: -1%;
}

.container{
    margin-top: 4%;
    background: url(../img/Layer_27_copy_3.png)no-repeat center 55% / 100%;
}

.container__headline{
    display: block;
    margin: 0 auto;
    width: 29%;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.31em;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.user-contacts-container{
    width: 100%;
    display: flex;
}

.user-contacts__number, .user-contacts__email{
    width: 50%;
    display: flex;
    margin-top: 6%;
}

.user-contacts__number>label, .user-contacts__email>label{
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 0.87em;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    display: inline-block;
    margin: 8.6% 2% 7% 0;
}

.user-contacts__tel{
    width: 52%;
    max-height: 56px;
    background-color: #f2f2f2;
    border: none;
    padding-left: 3%;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 26px;
    margin-top: 5%;
}

input::-webkit-input-placeholder { 
    color:  #000000; 
}

.user-contacts__img{
    width: 12.05%;
    max-height: 56px;
    display: inline-block;
    position: relative;
    margin-top: 5%;
}

.user-contacts__img img:nth-child(2){
    position: absolute;
    top: 37%;
    left: 37%;
}

#email-img{
    top: 44%
}

.visit-checkbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5% 0; 
}

.visit-checkbox>label{
    width: 20%;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 26px;
}


.checkbox {
    display: none;
   }
   
   .label-checkbox:before {
    content: " ";
    display: inline-block;
    margin-right: 10%;
    width: 46px;
    height: 46px;
    background: #e6e6e6;
    border: none;
    border-radius: 6%;
    vertical-align: middle;
   }
   
   .checkbox:checked + .label-checkbox:before {
    background: url(../img/tick.svg.png) no-repeat center 55% / 45%;
    background-color: #e6e6e6;

   }
 
.textarea{
    width: 96%;
    background-color: #f2f2f2;
    border: none;
    padding: 2%;
    margin: 5% 0;
    resize:none;
}

.textarea::-webkit-input-placeholder { 
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 26px;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.push{
    width: 49%;
    height: 58px;
    background-color: #81b3d2;
    text-align: center;
    /* Style for "ОТПРАВИТЬ" */
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 1.31em;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}

.submit>span{
    color: #333333;
    font-family: "PT Sans";
    font-size: 0.875em;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}
  