visit-checkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4.5% 0 7%;
}
.visit-checkbox .devil {
  margin-right: 2.8%;
}
.visit-checkbox .bell {
  margin-right: 2.5%;
}
.label-checkbox {
  width: 21.7%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}
.checkbox {
  display: none;
}
.checkbox + .label-checkbox {
  cursor: pointer;
}
.checkbox:checked + .label-checkbox:before {
  background: url(../img/tick.png) no-repeat center 52.5%;
  background-color: #e6e6e6;
}
.label-checkbox:before {
  content: " ";
  display: inline-block;
  margin-right: 13%;
  width: 56px;
  height: 55px;
  background: #e6e6e6;
  border: none;
  border-radius: 6%;
  vertical-align: middle;
}
.textarea {
  width: 98%;
  background-color: #f2f2f2;
  border: none;
  padding: 1.5% 0 0 2.2%;
  margin: 6% 0 5.5%;
  resize: none;
  color: #000000;
  max-height: 145px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.01em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}
.textarea::-webkit-input-placeholder {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}
.submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.submit__text {
  margin-top: 2%;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.push {
  width: 50%;
  height: 58px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 1.31em;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}
.push:hover {
  cursor: pointer;
}