doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-touch-icon-76x76.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png")
        link(rel="manifest" href="img/icons/site.webmanifest")
        link(rel="mask-icon" href="img/icons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        block link

        link(href="style/main.css" rel="stylesheet")
        script(src="js/modernizr-custom.js")
        title Sedona
    body
        .mobile-navigation
            a(href="#main" class="mobile__nav") ГЛАВНАЯ
                picture
                source(srcset="img/icon-cross.webp" type="image/webp")
                source(srcset="img/icon-cross.png" type="image/png")
                img(src="img/icon-cross.webp" alt="close" class="close-mobile-nav")
            a(href="#" class="mobile__nav") ФОТО И ВИДЕО
            a(href="/index.html#review-form" class="mobile__nav") ФОРМА ОТЗЫВА
            a(href="#html-academy" class="mobile__nav") HTML ACADEMY
        header.header#main
            .header__nav
                a(href="#main" class="header__nav-link") ГЛАВНАЯ
                a(href="#" class="header__nav-link") ФОТО И ВИДЕО
                a(href="#main" class="header__nav-link nav-logo")
                a(href="/index.html#review-form" class="header__nav-link") ФОРМА ОТЗЫВА
                a(href="#html-academy" class="header__nav-link") HTML ACADEMY
                a(href="#" class="mobile-menu")
                    picture
                        source(srcset="img/icon-menu.webp" type="image/webp")
                        source(srcset="img/icon-menu.png" type="image/png")
                        img(src="img/icon-menu.webp" alt="menu" class="icon-menu-img")
            .header__name
                span.header__name-text Sedona

        block content

        footer.footer-block
            span.hashtag #visitSEDONA
            .social-networks
                a(href="#" class="social-networks__link" title="twitter")
                a(href="#" class="social-networks__link" title="facebook")
                a(href="#" class="social-networks__link" title="youtube")
            .producer#html-academy
                span.producer__text Разработано
        block script


