@media (min-width: 970px) and (max-width:1200px){

	.header__name{
		left: 29%;
	}

	.header__decoration{
		bottom: -1.6%;
	}
}

@media (min-width: 769px) and (max-width:969px){
		
		.header__name{
		left: 24%;
	}

	.header__decoration{
		bottom: -1.6%;
	}

	.review__block{
		width: 60%;
	}

	.review__podcast{
		max-width: 450px;
		margin: 1.5% auto 0;
	}

	.review-info__headline{
		width: 71%;
	}

	.radio + .review-info__label {
		right: -10.5%;
	}

	.radio + .review-info__label:before{
		right: 104.5%;
	}

	.review-user__headline{
		width: 43%;
	}

	.review-user__label{
		margin-left: 5.5%;
	}

	.review__border{
		display: none;
	}

	.container{
		background: none;
	}

	.container__headline{
		width: 37%;
	}

	.user-contacts-container{
		display: block;
	}

	.user-contacts__number, .user-contacts__email{
		width: 90%;
		margin: 0 auto;
		justify-content: center;
	}

	.users-label{
		margin-top: 7.6%;
	}

	.users__label{
		width: 22%;
	}

	.user-contacts__img{
		width: 8.5%;
	}

	.checkbox + .label-checkbox{
		width: 47%;
		margin-bottom: 10%;

	}

	.visit-checkbox .bell{
		margin: 0;
	}

	.visit-checkbox{
        width: 70%;
        flex-wrap: wrap;
        margin: 4.5% auto 7%;
	}

	.textarea{
		width: 90%;
	    margin: 6% 4% 5.5%;
	}

	.submit{
		width: 92%;
		margin: auto;
	}

	.footer-block{
		max-width: 92%;
	}

	.social-networks{
		width: 23%;
	}

	.producer{
		width: 18.3%;
	}
}
