@media (max-width:479px){

	.review-info__feeling {
        display: none;
    }
    .review__border{
    	display: none;
    }
    .radio-m + .review-info__label-m:before {

    }
    .radio-m + .review-info__label-m:after {
    	right: 250px;
    }
    .radio-m:checked + .review-info__label-m:after{

    } 
	.review-user #name {
        width: 74%;
        height: 58px;
    }
    .review-user__label{
    	margin: 0 4% 10% 0%;

    }

    .users__label-tel{
    	display: none;
    }
    .users__label-tablet {
        color: #333333;
        font-family: "PT Sans", sans-serif;
        font-size: 0.88em;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        display: block;
        margin: 4.1% 3.5% 0 8%;
        width: 168px;
    }
    .user-contacts__tel{
    	height: 56px;
    	width: 70%;
    	padding-left: 7.6%;
    	margin: 1.3% 0 0 0.5%;
    }
    .user-contacts__img {
        width: 21%;
        margin-top: 1.3%;
    }
    .img-phone{
        top: 19px;
        left: 22px;
    }
    #email-img{
        top: 23px;
        left: 22px;
    }
    .users__label{
    	margin: 7% 3.5% 0 9%;
    }
    .checkbox + .label-checkbox{
		width: 100%;
		margin-bottom: 8%;
		display: inline-block;
	}
	.label-checkbox:before{
		margin-right: 7.5%;
	}
	.review-info__mobile{
		display: block;
		border-bottom: 1px solid #e6e6e6;
	}
	.park{
		order: 1;
	}
	.bell{
		order: 2;
	}
	.rock{
		order: 3;
	}
	.visit-checkbox{
        width: 94%;
        flex-wrap: wrap;
        padding-left: 6%;
        margin: 5% auto 4.8%;
        border-bottom: 1px solid #e6e6e6;
	}
	.textarea{
        padding: 5% 0 0 6.2%;
        width: 81%;
        height: 144px;
        margin: 1.8% 6% 14.4%;
	}
	.submit{
		width: 88%;
		margin: auto;
	}
	.push{
		width: 100%;
        margin-right: 0.5%;
	}
	.submit__text{
		display: none;
	}
	.footer-block{
        width: 100%;
        margin-top: 22.5%;
        display: block;
        height: auto;
	}
	.hashtag{
        width: 136px;
        display: block;
        margin: 0 auto;
	}
	.social-networks{
	    width: 157px;
        margin: 14.5% auto 13%;
	}
	.producer{
        width: 131px;
        margin: 0 auto 5%;
	}

}