@media (min-width: 625px) and (max-width:768px){
	.tablet-logo-img{
		display: block;
		margin: auto;
	}
	.desktop-logo{
		display: none;
	}
	.header{
		height: 344px;
	}
	.header__nav .header__nav-link {
		width: 20%;
	}
	.header__name{
		top: 43%;
        left: 17%;
	}
	.header__decoration{
		right: -28%;
		display: none;
	}
	.decoration-img{
		width: 100%;
	}
	.review__headline{
		width: 74.5%;
	}
	.review__block{
		width: 70%;
		margin-top: 6%;
	}
	.review__podcast{
		max-width: 450px;
        margin: 1% auto 0;
	}
	.review-info{
		margin-top: 7.5%;
	}
	.review-info__headline{
        width: 88%;
        margin: 0 auto 15%;
        display: block;
	}
	.radio + .review-info__label {
		right: -14.5%;
        margin-bottom: 13.5%;
	}
	.radio + .review-info__label:before {
		right: 107%;
	}
	.radio + .review-info__label:after{
		top: 17%;
	    right: 112.5%;
	}
	.review-user__headline{
		width: 45%;
        margin: 0 14.3% 15%;
	}
	.review-user #name {
        width: 48.6%;
    }
    .review-user__label{
    	margin: 0 3.5% 7% 15%;
    }
    .review-user__input {
        width: 39.8%;
        margin-bottom: 5.3%;
    }
    .container{
    	margin-top: 4%;
    }
    .container__headline{
    	width: 45%;
    }
    .user-contacts-container{
    	display: block;
    	margin-bottom: 12%;
    }
    .user-contacts__number, .user-contacts__email{
        width: 85%;
        margin: 0 auto;
        flex-wrap: wrap;
        height: 96px;
    }
    .users__label-tel{
    	display: none;
    }
    .users__label-tablet {
        color: #333333;
        font-family: "PT Sans", sans-serif;
        font-size: 0.87em;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        display: block;
        margin: 4.1% 3.5% 0 4%;
        width: 33%;
    }
    .user-contacts__tel{
    	height: 56px;
    	width: 86.5%;
    	padding-left: 3.6%;
    	margin: 1.3% 0 0 0.5%;
    }
    .user-contacts__img {
        width: 9.2%;
        margin-top: 1.3%;
    }
    .users__label{
    	margin: 7% 3.5% 0 4%;
    }
    .checkbox + .label-checkbox{
		width: 43%;
		margin-bottom: 7%;
	}
	.label-checkbox:before{
		margin-right: 10.5%;
	}

	.visit-checkbox .bell{
		margin: 0;
	}

	.visit-checkbox{
        width: 75%;
        flex-wrap: wrap;
        margin: 5.8% auto 4.8%;
	}
	.textarea{
	    padding: 2% 0 0 2.2%;
		width: 82%;
        margin: 7.5% 8% 6.8%;
	}
	.submit{
		width: 84.6%;
		margin: auto;
	}
	.push{
		margin-bottom: 2%;
	}
	.submit__text{
		margin-top: 2.6%;
	}
	.footer-block{
		width: 84.6%;
		margin-top: 8.5%;
	}
	.hashtag{
		margin: 0;
	}
	.social-networks{
		width: 25%;
	}
	.producer{
		width: 20%;
		margin-top: 1%;	
	}
}

@media (min-width: 480px) and (max-width:560px){
	.header__nav{
	    background-color: white;
	}
	.header__nav-link{
		display: none;
	}
	.nav-logo{
		display: block;
		width: 100%;
	}
	.mobile-menu{
	    display: block;
        position: absolute;
        right: 3%;
	}
	.icon-menu-img{
		width: 25px;
        margin: 15px 15px 0 0;
	}

}

@media (min-width: 480px) and (max-width:624px){
		
	.tablet-logo-img{
		display: block;
		margin: auto;
	}
	.desktop-logo{
		display: none;
	}
	.header{
		height: 300px;
	}
	.header__name{
        top: 48%;
        left: 18%;
        width: 69%;
	}
	.header__decoration{
		right: -28%;
		display: none;
	}
	.decoration-img{
		width: 100%;
	}
	.review__headline{
		width: 75.5%;
	}
	.review__block{
	    width: 90%;
        margin-top: 6%;
	}
	.review__podcast{
		max-width: 450px;
        margin: 1% auto 0;
	}
	.review-info{
		margin-top: 7.5%;
		flex-wrap: wrap;
	}
	.review-info__feeling {
        width: 80%;
        margin: 0 auto;
    }
    .review__border{
    	display: none;
    }
	.review-info__headline{
        width: 72%;
        margin: 0 auto 5%;
        display: block;
	}
	.review-user {
        width: 80%;
        margin:0 auto;	
    }
	.radio + .review-info__label {
		right: -14.5%;
        margin-bottom: 13.5%;
	}
	.radio + .review-info__label:before {
		right: 107%;
	}
	.radio + .review-info__label:after{
		top: 17%;
	    right: 112.5%;
	}
	.review-user__headline{
	    width: 45%;
        margin: 0 auto 10%;
        display: block;
	}
	.review-user #name {
        width: 77%;
    }
    .review-user__label{
    	margin: 0 3.5% 10% 0%;

    }
    .review-user__input {
        width: 69%;
        margin-bottom: 5.3%;
    }
    .container{
    	margin: 10% 0 4% 0;
    }
    .container__headline{
        width: 60%;
    }
    .user-contacts-container{
    	display: block;
    	margin-bottom: 15%;
    }
    .user-contacts__number, .user-contacts__email{
        width: 85%;
        margin: 0 auto;
        flex-wrap: wrap;
        height: 96px;
    }
    .users__label-tel{
    	display: none;
    }
    .users__label-tablet {
        color: #333333;
        font-family: "PT Sans", sans-serif;
        font-size: 0.87em;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        display: block;
        margin: 4.1% 3.5% 0 4%;
        width: 40%;
    }
    .user-contacts__tel{
    	height: 56px;
    	width: 81%;
    	padding-left: 3.6%;
    	margin: 1.3% 0 0 0.5%;
    }
    .user-contacts__img {
        width: 14.2%;
        margin-top: 1.3%;
    }
    .users__label{
    	margin: 7% 3.5% 0 4%;
    }
    .checkbox + .label-checkbox{
		width: 43%;
		margin-bottom: 7%;
	}
	.label-checkbox:before{
		margin-right: 10.5%;
	}

	.visit-checkbox .bell{
		margin: 0;
	}

	.visit-checkbox{
        width: 96%;
        flex-wrap: wrap;
        margin: 12% auto 4.8%;
	}
	.textarea{
	    padding: 2% 0 0 2.2%;
		width: 82%;
        margin: 7.5% 8% 6.8%;
	}
	.submit{
		width: 84.6%;
		margin: auto;
	}
	.push{
		margin-bottom: 2%;
	}
	.submit__text{
		margin-top: 2.6%;
	}
	.footer-block{
	    width: 84.6%;
        margin-top: 8.5%;
	}
	.hashtag{
		margin: 0;
		width: 42%;
	}
	.social-networks{
		width: 49%;
	}
	.producer{
		width: 32%;
		margin-top: 1%;	
	}

}