@media (min-width: 320px) and (max-width:768px){
	.tablet-logo-img{
		display: block;
		margin: auto;
	}

	.desktop-logo{
		display: none;
	}
	.header{
		height: 344px;
	}

	.header__nav .header__nav-link {
		width: 20%;
	}

	.header__name{
		top: 43%;
        left: 20%;
	}
	.header__decoration{
		right: -28%;
	}
	.review__block{
		width: 70%;
		margin-top: 6%;
	}
	.review__podcast{
		max-width: 450px;
        margin: 1% auto 0;
	}
	.review-info{
		margin-top: 7.5%;
	}
	.review-info__headline{
		width: 72%;
		margin: 0 0 14.5% 15%;
	}
	.radio + .review-info__label {
		right: -14.5%;
        margin-bottom: 13.5%;
	}
	.radio + .review-info__label:before {
		right: 107%;
	}
	.radio + .review-info__label:after{
		top: 17%;
	    right: 112.5%;
	}
	.review-user__headline{
		width: 45%;
        margin: 0 14.3% 15%;
	}
	.review-user #name {
        width: 48.6%;
    }
    .review-user__label{
    	margin: 0 3.5% 7% 15%;
    }
    .review-user__input {
        width: 39.8%;
        margin-bottom: 5.3%;
    }
    .container{
    	margin-top: 4%;
    }
    .container__headline{
    	width: 38%
    }
    .user-contacts-container{
    	display: block;
    }
    .user-contacts__number{
    	width: 90%;
    	margin: 0 auto;
    }
    .users__label-tel{
    	display: none;
    }
    .users__label-tablet {
        color: #333333;
        font-family: "PT Sans", sans-serif;
        font-size: 0.87em;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        display: inline-block;
        margin: 8.6% 3.5% 7% 0;
    }
}